flows.json
[
  {
    "id": "49cc589198ea327c",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "420b556b56980b08",
    "type": "mqtt in",
    "z": "49cc589198ea327c",
    "name": "TTN Endpoint",
    "topic": "v3/lorakastl@ttn/devices/eui-70b3d57ed0057f2b/up",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "2751bd04e41bc1ca",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 270,
    "y": 160,
    "wires": [["0ed421195f011e03"]]
  },
  {
    "id": "0ed421195f011e03",
    "type": "function",
    "z": "49cc589198ea327c",
    "name": "Decode Message",
    "func": "\nconst test = Buffer.from(msg.payload.uplink_message.frm_payload, 'base64').toString();\n\nmsg.payload = {\n    \"type\": \"message\",\n    \"content\": test,\n    \"chatId\": 130136251\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 140,
    "wires": [["fd2ca4ad3a27fd5d"]]
  },
  {
    "id": "fd2ca4ad3a27fd5d",
    "type": "telegram sender",
    "z": "49cc589198ea327c",
    "name": "",
    "bot": "21341cf47f845ab8",
    "haserroroutput": false,
    "outputs": 1,
    "x": 640,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "2751bd04e41bc1ca",
    "type": "mqtt-broker",
    "name": "TTN Broker",
    "broker": "eu1.cloud.thethings.network",
    "port": "8883",
    "tls": "7631b77adafe2a20",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "21341cf47f845ab8",
    "type": "telegram bot",
    "botname": "lorakastl_bot",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "updatemode": "polling",
    "pollinterval": "300",
    "usesocks": false,
    "sockshost": "",
    "socksprotocol": "socks5",
    "socksport": "6667",
    "socksusername": "anonymous",
    "sockspassword": "",
    "bothost": "",
    "botpath": "",
    "localbotport": "8443",
    "publicbotport": "8443",
    "privatekey": "",
    "certificate": "",
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  {
    "id": "7631b77adafe2a20",
    "type": "tls-config",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": true,
    "alpnprotocol": ""
  }
]
